#bankSites {
  display: none;
}

#borderSites {
  display: none;
}

#clubhouseSites {
  display: none;
}

#coastlineSites {
  display: none;
}

#consulateSites {
  display: none;
}

#kafeDostoyevskySites {
  display: none;
}

#kanalSites {
  display: none;
}

#oregonSites {
  display: none;
}

#chaletSites {
  display: none;
}

#skyscraperSites {
  display: none;
}

#outbackSites {
  display: none;
}
